<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<span th:replace="~{home :: navbar}"></span>
<div>
    <button><a th:href="@{new}">Ajouter un élève</a></button>

</div>

<table th:if="${student != null}">
    <thead>
    <tr>#</tr>
    <tr>Nom :</tr>
    <tr>Prénom :</tr>
    <tr>Age :</tr>
    <tr>Email :</tr>
    </thead>
    <tbody>
    <tr th:text="${student.getId()}"></tr>
    <tr th:text="${student.getLastname()}"></tr>
    <tr th:text="${student.getFirstname()}"></tr>
    <tr th:text="${student.getAge()}"></tr>
    <tr th:text="${student.getMail()}"></tr>

    <th>

        <tr th:text="${student.getId()}"></tr>
        <tr th:text="${student.getLastname()}"></tr>
        <tr th:text="${student.getFirstname()}"></tr>
        <tr th:text="${student.getAge()}"></tr>
        <tr th:text="${student.getMail()}"></tr>
    </th>

    </tbody>
</table>
<p th:if="${student == null}">Pas d'étudiant avec cet id.</p>
</body>
</html>